/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Para evitar que el navegador genere una barra de navegación debido a la 
altura del contenido */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.container {
  display: flex;
}

.container.content {
  height: 95vh; /* 
  border: 5px solid blueviolet; */
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.container.selector {
  gap: 50px;
}

.status-anchor {
  text-decoration: none;
  color: #a3a3a3;
}
