/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Para evitar que el navegador genere una barra de navegación debido a la 
altura del contenido */
* {
  box-sizing: border-box;

  background-color: #f8fafc;
  color: #355872;

  font-family: "Poppins", sans-serif;
  font-size: 14pt;
}

body#home-page {
  margin: 0;
  text-align: center;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 64pt;
  margin: 20px;
}

.container {
  display: flex;
}

#home-page main.container.content {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-page div.container.nav-bar {
  width: 100vh;
  justify-content: space-around;
}

#home-page p.nav-bar {
  width: 130px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #d9eafd;

  border-radius: 5px;
  border: 3px solid #355872;
  border-top: 3px solid #4f83a8;

  font-weight: 500;
  font-size: 16pt;

  transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease,
    border 0.3s ease,
    border-top 0.3s ease;
}

#home-page p.nav-bar:hover {
  transform: translate(0, -5px);

  background-color: #edf5ff;
  color: #416c8d;

  border: 3px solid #3d6482;
  border-top: 3px solid #5791bb;
}

a {
  text-decoration: none;
}
